.navbar{
    display: flex;
    background-color: black;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 3px solid rgb(168, 177, 255);
}

.appName{
    color: rgb(168, 177, 255);
    cursor: pointer;
    font-size: larger;
    padding: .5em 2em .5em 2em ;
    font-weight: 500;
    font-size: 20px;
    
}

.btn{
    text-decoration: none;
    color: white;
    font-size: large;
    padding: .45em 1em .2em 1em ;
    margin: .3em .5em .3em .5em;
    font-size: 16px;
    border-radius: 6px;
}

.btn:hover{
    background-color: rgb(22, 22, 22);

}